<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Payment View Format</key>
	<dict>
		<key>ViewBackgroundColor</key>
		<string>#ffffff</string>
		<key>LineColor</key>
		<string>#000000</string>
		<key>LineColorAlpha</key>
		<string>0.1</string>
		<key>OpenIndicator</key>
		<string>OpenIndicator.png</string>
		<key>CloseIndicator</key>
		<string>CloseIndicator.png</string>
		<key>DoneButtonSpacing</key>
		<string>0.8</string>
		<key>DoneButtonFont</key>
		<string>HelveticaNeue</string>
		<key>DoneButtonFontSize</key>
		<string>15</string>
		<key>DoneButtonTextColor</key>
		<string>#ffffff</string>
		<key>DoneButtonTextColorAlpha</key>
		<string>1</string>
		<key>DoneButtonBackgroundColor</key>
		<string>#000000</string>
		<key>DoneButtonBackgroundColorAlpha</key>
		<string>1</string>
		<key>SwipeArrowImage</key>
		<string>W2PaymentSwipeArrow.png</string>
		<key>SwipedImage</key>
		<string>W2PaymentSwiped.png</string>
		<key>SwipeArrowAlignment</key>
		<string>70</string>
	</dict>
	<key>General Cell Format</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#ffffff</string>
		<key>BackgroundColorAlpha</key>
		<string>1</string>
		<key>TitleSpacing</key>
		<string>0.5</string>
		<key>TitleFont</key>
		<string>HelveticaNeue</string>
		<key>TitleFontSize</key>
		<string>14</string>
		<key>CellTextColor</key>
		<string>#000000</string>
		<key>CellTextColorAlpha</key>
		<string>1</string>
		<key>ContentFont</key>
		<string>HelveticaNeue-Light</string>
		<key>ContentFontSize</key>
		<string>14</string>
		<key>ContentSpacing</key>
		<string>0.5</string>
		<key>PlaceholderColorAlpha</key>
		<string>0.5</string>
		<key>PlaceholderColor</key>
		<string>#000000</string>
		<key>SwipeCellFont</key>
		<string>HelveticaNeue</string>
		<key>SwipeCellFontSize</key>
		<string>15</string>
		<key>SwipeCellTextColor</key>
		<string>#ffffff</string>
		<key>SwipeCellTextColorAlpha</key>
		<string>1</string>
		<key>SwipeCellSpacing</key>
		<string>0.8</string>
		<key>SwipeCellBackgroundColor</key>
		<string>#000000</string>
		<key>SwipeCellBackgroundColorAlpha</key>
		<string>1</string>
		<key>SwipeCellDisabledColor</key>
		<string>#dddddd</string>
		<key>SwipeCellDisabledColorAlpha</key>
		<string>1</string>
		<key>SubviewFormat</key>
		<dict>
			<key>PlaceHolderColor</key>
			<string>#000000</string>
			<key>PlaceHolderColorAlpha</key>
			<string>0.5</string>
			<key>TextViewFont</key>
			<string>HelveticaNeue-Light</string>
			<key>TextViewFontSize</key>
			<string>14</string>
			<key>TextViewSpacing</key>
			<string>0.5</string>
			<key>TextViewTextColor</key>
			<string>#000000</string>
			<key>TextViewTextColorAlpha</key>
			<string>1</string>
			<key>TextViewBackgroundAlpha</key>
			<string>1</string>
			<key>TextViewBackground</key>
			<string>#fafafa</string>
			<key>TextMissingBackground</key>
			<string>#ef8873</string>
			<key>TextMissingBackgroundAlpha</key>
			<string>1</string>
			<key>BillingLabelFont</key>
			<string>HelveticaNeue</string>
			<key>BillingLabelFontSize</key>
			<string>15</string>
			<key>BillingLabelSpacing</key>
			<string>0.5</string>
			<key>BillingLabelTextColor</key>
			<string>#000000</string>
			<key>BillingLabelTextColorAlpha</key>
			<string>1</string>
			<key>BillingAddressFont</key>
			<string>HelveticaNeue-Light</string>
			<key>BillingAddressFontSize</key>
			<string>14</string>
			<key>BillingAddressSpacing</key>
			<string>0.5</string>
			<key>BillingAddressColor</key>
			<string>#000000</string>
			<key>BillingAddressColorAlpha</key>
			<string>0.4</string>
			<key>ButtonFont</key>
			<string>HelveticaNeue-Light</string>
			<key>ButtonFontSize</key>
			<string>14</string>
			<key>ButtonSpacing</key>
			<string>0.5</string>
			<key>ButtonTitleColor</key>
			<string>#000000</string>
			<key>ButtonTitleColorAlpha</key>
			<string>0.8</string>
			<key>CheckMarkImage</key>
			<string>CheckMark.png</string>
			<key>CreditCardPaymentOptionImage</key>
			<string>CreditCardPayment.png</string>
			<key>ThirdPartyPaymentOptionImage</key>
			<string>PayPalPayment.png</string>
			<key>ThirdPartyPaymentIcon</key>
			<string>paypalLogo.png</string>
			<key>PaymentOptionButtonBackgroundColor</key>
			<string>#eeeeee</string>
			<key>PaymentOptionButtonBackgroundColorAlpha</key>
			<string>1</string>
			<key>CreditCardCell</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue</string>
				<key>FontSize</key>
				<string>15</string>
				<key>TextColor</key>
				<string>#000000</string>
				<key>TextColorAlpha</key>
				<string>1</string>
				<key>Spacing</key>
				<string>1</string>
			</dict>
			<key>ShippingAddressCell</key>
			<dict>
				<key>FullNameFont</key>
				<string>HelveticaNeue</string>
				<key>FullNameFontSize</key>
				<string>12</string>
				<key>FullNameColor</key>
				<string>#000000</string>
				<key>FullNameColorAlpha</key>
				<string>1</string>
				<key>FullNameSpacing</key>
				<string>0.8</string>
				<key>AddressFont</key>
				<string>HelveticaNeue-Light</string>
				<key>AddressFontSize</key>
				<string>12</string>
				<key>AddressColor</key>
				<string>#000000</string>
				<key>AddressColorAlpha</key>
				<string>0.5</string>
				<key>AddressSpacing</key>
				<string>0.8</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
